html, body {
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
    min-height: 100%;
    width: 100%;
    z-index: -5;
    position: absolute;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

#logo-cutout{
	width: 350%;
	height: 350%;
	position: fixed;
	left: -125%;
	top: -125%;
}

.box {
	width: 230%;
	height: 30%;
	z-index: 10;
	position: fixed;
	transform: rotate(-40deg);
	top: -120%;
	left: -120%;
	animation-name: lines;
	animation-duration: 4s;
	animation-delay: 1s;
	mix-blend-mode: luminosity;
	z-index: -5;
}
#box1, #box2, #box3 {
	width: 100%;
	height: 100%;	
}

#box1 {
	background-color: #F06868;
}

#box2 {
	background-color: #FAB57A;
}

#box3 {
	background-color: #EDF798;
}

main {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	z-index: 5;
}

h1 {
	text-align: center;
	font-size: 3.6em;
}

main nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

i {
	text-align: center;
	margin: 5px;
	font-family: FontAwesome;
	font-style: normal;
}

a, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: orange;
}

a:active {
    color: #ff4000;
}

header {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 100%;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #F06868;
	z-index: 50;
	overflow: scroll;
	box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.8);
}

header::-webkit-scrollbar { 
	display: none;
}

header h1 {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

content {
	padding-top: 88.8px;
	position: absolute;
	width: 100%;
	height: 100%;
}

#logo-img {
	display: none;
}

#info {
	display: flex;
	flex-direction: column;
	position: static;
}

#right {
	padding-left: inherit;
	width: inherit;
	position: inherit;
}

#links a, #social a{
	display: block;
	padding-left: 8px;
}

#links a p, #social a p{
	display: inline;
	font-size: 2.5em;
}

#links, #social{
	display: none;
}

#links {
	margin-top: 20px;
}

#social{
	justify-content: flex-end;
	text-align: left;
	padding-right: 10px;
	margin-bottom: 20px;
}

#menu {
	position: fixed;
	z-index: 80;
	top: 16px;
	left: 80%;
}

header nav {
	width: 100%;
}

.text-box-all {
	margin-top: 10px;
}

.text-box p {
	padding-left: 30px;
	font-size: 1.2em;
}

.text-box h2, .text-box ul{
	padding: 0px;
	background-color: transparent;
	margin: 0px 0px;
	border-radius: 0;
	box-shadow: none;
}

#leeftijd {
	display: block;
}

.perc-bar {
	width: 100%;
	background-color: #bce4f5;
	border-radius: 5px;
}

#li1, #li2, #li3, #li4, #li5 {
	animation-duration: 4s;
	background-color: #4db8e6;
	margin-left: 0px;
}

#li1 {
	width: 80%;
}
#li2 {
	width: 80%;
}
#li3 {
	width: 70%;
}
#li4 {
	width: 65%;
}
#li5 {
	width: 45%;
}

.text-box, .text-box-all {
	padding: 10px;
	background-color: #f2f2f2;
	margin: 5px 8px;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
}

.text-box ul {
	list-style: none;
	font-size: 1.5em;
}

p, h2, h3 {
	padding-left: 8px;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

#h2color h2 {
	margin-bottom: 2px;
}

#articles {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	overflow: hidden;
	filter: grayscale(50%);
}

#articles .imgs {
	height: 300px;
	width: 533px;
	border-radius: 5px;
	margin: 10px;
	position: relative;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

#articles a h3{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 64.6%;
	width: 98.6%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 3em;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding-top: 10%;
	padding-bottom: 10%;
	color: white;
	display: block;
}

#articles a p {
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding-top: 30px;
}

#articles #img1 {
	background-image: url("media/adventure-game.png");
}
#articles #img2 {
	background-image: url("media/de-vloot.png");
}
#articles #img3 {
	background-image: url("media/grid.png");
}
#articles #img4 {
	background-image: url("media/handy.png");
}
#articles #img5 {
	background-image: url("media/layout.png");
}
#articles #img6 {
	background-image: url("media/recepten.png");
}
#articles #img7 {
	background-image: url("media/robotarm.png");
}
#articles #img8 {
	background-image: url("media/loading.png");
}

#img-prof {
	height: 350px;
	/*width: 350px;*/
	background-color: black;
	border-radius: 5px;
	margin: 8px 8px 0px 8px;
	align-self: center;
}

#YT-video {
	width: 100%;
	height: 215px;
}

#ps-img {
	width: 100%;
	border-radius: 5px;
}

@keyframes lines {
    from {top: -63%;
	left: -250%;
}
    to {top: 120%;
	left: 120%;
}
}
@media screen and (min-width:700px) {
	header {
		height: auto;
		display: inline-flex;
		flex-direction: row;
		padding-top: 10px;
	}

	#menu {
		display: none;
	}

	#links, #social{
		display: inline;
	}

	#links a, #social a{
		display: inline;
		padding-left: 0px;
	}

	#links a p, #social a p{
	display: none;
	}

	#links {
		margin-top: 0px;
	}

	#social {
		text-align: right;
		margin-bottom: 0px;
	}

	#right {
		padding-left: 350px;
		width: 50%;
		position: absolute;
		top: 93px;
    	left: 8px;
	}

	h2, h3 {
		padding-left: 18px;
	}

	#articles {
		filter: grayscale(0%);
	}

	#articles a h3 {
		width: 96.65%;
	}

    #articles a h3, #articles a p {
		display: none;
	}
	
    #articles a:hover h3, #articles a:hover p {
		display: block;
	}

	#articles a:hover {
		filter: grayscale(100%);
		position: relative;
		z-index: 5;
		color: white;
	}

	main nav a {
		width: 20%;
		text-align: center;
	}

	main {
		width: 500px;
	}
	
	#img-prof {
		align-self: flex-start;
		width: 350px;
	}

	#YT-video {
		width: 660px;
		height: 372px;
	}

	#ps-img {
		width: 350px;
		transition-duration: 1.5s;
	}

	#ps-img:hover {
		cursor: zoom-in;
	}
}


@media screen and (max-width:769px) {
    #menu {
		left: 85%;
	}
}

@media screen and (min-width:918px) {
    #logo-img {
		display: block;
		filter: invert(100%);
		width: 100px;
		height: 55px;
		align-self: center;
		position: static;
		position: absolute;
		left: 46%;
	}

	#logo-img:active {
		box-shadow: inset 0px -1px 5px white;
		border-radius: 5px;
		padding: 0 5px 0 5px;
		background-color: #04a4a4;
		margin: 0 -5px 0 -5px;
	}
}