html, body {
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
    min-height: 100%;
    width: 100%;
    position: fixed;
    z-index: -5;
}
#bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.box {
	width: 230%;
	height: 30%;
	z-index: 10;
	position: fixed;
	transform: rotate(-40deg);
	top: -120%;
	left: -120%;
	animation-name: linesphone;
	animation-duration: 2.5s;
	animation-delay: 1s;
	mix-blend-mode: luminosity;
}
#box1, #box2, #box3 {
	width: 100%;
	height: 100%;	
}

#box1 {
	background-color: #F06868;
}

#box2 {
	background-color: #FAB57A;
}

#box3 {
	background-color: #EDF798;
}

main {
	width: 70%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	z-index: 5;
}

h1 {
	text-align: center;
	font-size: 3.6em;
}

nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

i {
	text-align: center;
	margin: 5px;
	font-family: FontAwesome;
	font-style: normal;
}

a, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: orange;
}

a:active {
    color: red;
}

@keyframes lines {
    from {top: -120%;
	left: -120%;
}
    to {top: 120%;
	left: 120%;
}
}

@keyframes linesphone {
    from {top: -63%;
	left: -250%;
}
    to {top: 120%;
	left: 120%;
}
}

@media screen and (min-width: 480px) {
    main {
        width: 500px;
    }
    @keyframes lines {
    from {top: -120%;
	left: -120%;
	}
    to {top: 120%;
	left: 120%;
	}
	}
    .box {
    	width: 220%;
    	animation-name: lines;
		transform: rotate(-50deg);
	}
}